.App {
  text-align: center;
}
.question-card {
  margin: auto;
  background-color: gray;
  padding: 16px;
  width: 80%;
  height: auto;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0.3) 0px 18px 36px -18px;
}
ul {
  list-style: none;
}
li {
  list-style: none;
  background-color: darkgray;
  border: 3px solid;
  padding: 10px;
  margin-top: 8px;
  border-radius: 20px;
  font-size: 20px;
}
.question-text {
  color: darkblue;
  font-size: 24px;
}
.final-result {
  margin: auto;
  background-color: gray;
  padding: 16px;
  width: 50%;
  margin-top: 20px;
  height: auto;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0.3) 0px 18px 36px -18px;
}
button {
  background-color: red;

  border: none;
  color: white;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 30px;
  font-weight: bold;
}
li:hover {
  cursor: pointer;
}
.current-score {
  background-color: aqua;
  border: 2px solid;
  border-radius: 10px;
  width: 500px;
  margin: auto;
  color: blue;
  margin-bottom: 5px;
  height: 100px;
}
